body{
    position: relative;
    background-color:#C7EDCC;
}
section{
    width: 1000px;
    margin: 0 auto;
	
}

#left{
    width:30%;
    float:left;
	background-color:#DFDFDF
}
#right{
    width:70%;
    float:right;
}

#right img{
    width:100%;
    min-width: 450px;
    max-width: 1200px;
    display: block;
}
#wrap {
    position: fixed;
    top:0;
    left:0;
    width: 30%;
    height: 100%;    
}
#wrap audio{

    margin: 60px 10px 10px;
}
#content {
    margin: 50px 10px;
    font-size:16px;
}

footer{
    position: absolute;
    bottom: 0px;
    left:0;
    right:0;
    height: 200px;
    background-color:black;
}
#footer {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
	font-family:"楷体";
    font-size: 16px;
    color: white;
}
#footer p{
    white-space: pre;
}

